// ==========================================
// Zellij Screen Layout: default
// ==========================================
layout {
    tab name="work" {
        pane {
        }
    }

    tab name="mini" {
        pane {
        }
    }

    tab name="work-host" {
        pane {
        }
    }

    tab name="kvm-host" {
        pane {
        }
    }

    tab name="wsl" focus=true {
        pane {
        }
    }
}

